/* PODSTAWOWE USTWIENIA STRONY */
:root{
    --blue: #1A85E7;
    --dark-blue: #3E85C8;
    --light-blue: #2894f8;
    --white: #FFFFFF;
    --gray: #9E9E9E;
    --shadow: rgb(0, 0, 0, 0.2);
    --border: rgb(0, 0, 0, 0.1);
    --font: #252525;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: Poppins;
}

/* Styl tła */
body{
    height: 100%;
    background: linear-gradient(to right bottom, var(--dark-blue), var(--blue));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main.active{
    filter: blur(3px);
    transition: 300ms ease-in-out;
}




/* ZAWARTOŚĆ STORNY */
/* 🔔modal🔔 */
#alert-modal{
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    position: fixed;
    z-index: 10000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2%;
    border: 1px solid var(--blue);
    border-radius: 1.5em;
    opacity: 0%;
    transition: 600ms ease;
    box-shadow: 3px 3px 3px var(--shadow);
}

#alert-modal p{
    text-align: center;
    font-size: 1.5em;
}

#alert-modal button{
    font-size: 1.5em;
    color: var(--white);
    background-color: var(--light-blue);
    width: 60%;
    border-radius: 2em;
    box-shadow: 3px 3px 3px var(--shadow);
    margin: 0 auto;
    padding: 2%;
}

#alert-modal.active{
    opacity: 100%;
}







/* 🔝stylowanie nagłówka🔝 */
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1em 2em;
}

header h3{
    font-size: 3em;
    color: var(--white);
    font-weight: normal;
    pointer-events: none;
}

/* 📦STYL POJEMNIKA NA LISTY📦 */
section#board-container{
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: center;
}

section#board-container article{
    width: 600px;
    height: 730px;
    background-color: var(--white);
    border-radius: 1em;
    text-align: center;
    box-shadow: 4px 4px 5px var(--shadow);
    margin-top: 5%;
}

/* Styl dodania elementu */
section#board-container article div.items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2% 5%;
}

section#board-container article h3{
    margin:3% 2% 5% 2%;
    font-size: 2.5em;
    font-weight: normal;
}

section#board-container article .items input{
    width: 85%;
    border: 1px solid var(--blue);
    border-radius: 2em;
    padding: 0 5%;
    font-size: 120%;
}

section#board-container article .items button#add-btn{
    width: 11%;
    height: auto;
    background-color: transparent;
    font-size: 3em;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s ease;
    text-align: center;
    margin-left: 3%;
}

section#board-container article .list-items-wrapper{
    margin: 3% auto;
    height: 80%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* 🧩STYL ELEMENTU LISTY🧩 */
section#board-container article div.list-item{
    width: 90%;
    height: auto;
    margin: 2% auto;
    background-color: var(--white);
    box-shadow: 4px 4px 4px var(--shadow);
    border: 1px solid var(--border);
    border-radius: 0.9em;
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 2%;
    font-size: 1.5em;
    cursor: grab;
    justify-content: space-between;
}


section#board-container article div.list-item.off{
    display: none;
}

section#board-container article div.list-item p{
    margin: 0;
}

section#board-container article div.list-item button{
    background-color: transparent;
    color: var(--gray); 
    cursor: pointer;
    transition: 0.3s ease;
}

section#board-container article div.list-item.dragging{
    background-color: var(--blue);
    box-shadow: 4px 4px 4px var(--shadow);
    border: 1px solid var(--border);
    border-radius: 0.9em;
    color: var(--white);
    opacity: 1;
    cursor: grab;
}

section#board-container article div.list-item.dragging button{
    color: var(--white);
}





/* ⬇STYL SCROLLBARA⬇ */

section#board-container::-webkit-scrollbar{
    width: 10px;
    margin-left: 3%;
}

section#board-container::-webkit-scrollbar-track{
    background: transparent;
}

section#board-container::-webkit-scrollbar-thumb{
    background-color: var(--white);
    border-radius: 2em;
}

section#board-container article div::-webkit-scrollbar{
    width: 10px;
}

section#board-container article div::-webkit-scrollbar-track{
    background: transparent;
}

section#board-container article div::-webkit-scrollbar-thumb{
    background-color: var(--shadow);
    border-radius: 2em;
}

section#board-container article div img{
    margin-right: 5%;
}





/* HOVERY */
@media(hover: hover){

    /* hover przycisku modala */
    #alert-modal.active button:hover{
        background-color: var(--blue);
    }

    /* hover przycisku dodania elementu do listy */
    section#board-container article .items button#add-btn:hover{
        color: var(--blue);
        font-weight: bolder;
    }

    /* hover przycisku usuwania elementu */
    section#board-container article div.list-item button:hover{
        color: var(--font);
    }

    /* Scrollbar */
    section#board-container::-webkit-scrollbar-thumb:hover{
        background-color: var(--gray);
    }

    section#board-container article div::-webkit-scrollbar-thumb:hover{
        background-color: var(--gray);
    }
    
}

/* BREAKPOINTS */

@media (max-width: 992px){
    section#board-container article{
        height: auto;
        min-height: 200px;
    }

    section#board-container article.m-visible{
        height: 70vh;
        padding: 5%;
        margin-top: 20%;
    }

    section#board-container article.m-non{
        display: none;
    }

    #alert-modal{
        width: 30%;
    }
}



@media only screen and (max-width: 576px){
    #alert-modal{
        width: 50%;
    }
}