/* Stylowanie home.html */
/* Stylowanie nagłówka */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 2em;
}

header h3{
    font-size: 3em;
    font-family: 'Poppins', sans-serif;
    color: var(--white);
    font-weight: normal;
}

header h3 span{
    font-weight: bold;
}

header img{
    border-radius: 50%;
    border: 2px solid var(--white);
}





/* Stylowanie wrappera */
section#wrapper{
    background-color: var(--white);
    width: 60%;
    margin: 10% auto 0 auto;
    padding: 10% 10%;
    border-radius: 2em;
    box-shadow: 4px 4px 10px var(--shadow);
}

section#wrapper #buttons-wrapper .buttons{
    align-items: center;
    text-align: center;
    margin-right: 10%;
    cursor: pointer;
}

section#wrapper #buttons-wrapper #library{
    margin-top: 1%;
}

section#wrapper #buttons-wrapper #settings{
    margin-right: 0;
}

section#wrapper #buttons-wrapper .buttons img{
    transition: 0.3s ease;
}

section#wrapper #buttons-wrapper .buttons p{
    font-size: 1.5em;
    margin-bottom: 0;
    transition: 0.3s ;
}

#buttons-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#buttons-wrapper.unactive{
    display: none;
}

#new-file{
    display: none;
    justify-content: center;
    text-align: center;
}

#new-file form{
    display: flex;
    flex-direction: column;
}

#new-file form input{
    width: 100%;
    height: 40px;
    border:1px solid var(--border);
    border-radius: 2em;
    padding: 0.9em;
    font-size: 1.5em;
}

#new-file.active{
    display: flex;
    flex-direction: column;
}

#new-file button{
    width: 50%;
    background-color: var(--blue);
    color: var(--white);
    padding: 1.2em;
    font-size: 1.2em;
    margin: 5% auto 0 auto;
    border: 1px solid var(--border);
    border-radius: 2em;
    transition: 0.3s ease;
}
