/* Kolory do CSS */
:root{
    --blue: #1A85E7;
    --dark-blue: #3E85C8;
    --light-blue: #2894f8;
    --white: #FFFFFF;
    --gray: #9E9E9E;
    --shadow: rgb(0, 0, 0, 0.2);
    --border: rgb(0, 0, 0, 0.1);
    --font: #252525;
}





/* Ustawienia podstawowe strony */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
}

html{
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

/* Styl tła */
body{
    height: 100%;
    background: linear-gradient(to right bottom, var(--dark-blue), var(--blue));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Główna zawartość strony */
section#background{
    background-color: var(--white);
    border-radius: 0 12em 0 0;
    height: 100vh;
    transition: .3s ease-in-out;
}

section#background header{
    display: flex;
    flex-direction: column;
    margin-bottom: 20%;
}

section#background header h1{
    color: var(--blue);
    font-size: 6em;
    padding: 2% 0 0 2%;
    margin: 0;
    position: relative;
}

section#background header a{
    text-decoration: none;
    color: var(--font);
}

section#background header p{
    color: var(--font);
    font-size: 1.5em;
    text-align: right;
    position: absolute;
    top: 10%;
    left: 9%;
}

section#background header p span{
    font-weight: bold;
}

section#background header h1 span{
    font-weight:bold;
}

section#background p#description{
    width: auto;
    font-size: x-large;
    color: var(--font);
    text-align: left;
    padding: 3%;
}

section#background p#description span{
    color: var(--blue);
}

section#background p#description span span{
    font-weight: bold;
}

section#open-list{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section#open-list a{
    text-decoration: none;
    color: var(--white);
    transition: .3s ease;

}

section#open-list a p#icon{
    font-size: 4em;
    margin: 0;
}

section#open-list a p#name{
    font-size: 1.5em;
}


/* Hover */

@media(hover: hover){
    section#open-list a:hover{
        scale: 1.1;
    }
}

@media(max-width: 768px){
    section#background{
        height: 50vh;
        border-radius: 0 0 3em 3em;
        margin-bottom: 15%;
    }

    section#background header{
        text-align: center;
    }

    section#background header p{
        left: 52%;
    }

    section#open-list{
        font-size: 1.5em;
    }

}